/* CSS Document */
@charset utf-8;

/*格式化样式*/
*{padding:0px; margin:0px;font-family:Arial, Verdana, Tahoma, "宋体",  Helvetica, sans-serif; line-height: 150%; _font-family:宋体 !important; word-break: break-all;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
abbr,acronym{border:0;}
body{font-size: 12px;text-align: center;color: #000000;}
td{padding:3px; vertical-align: top;}
img{border:none;}
input{vertical-align: middle;line-height: normal; border:none; outline:none; list-style:none;}
.clear{clear:both;font-size:0px; height:0; line-height:0; width:0;}
a{outline:none; star:expression(this.onFocus=this.blur()); text-decoration:none; background:none;}
textarea{ resize:none; overflow:auto; outline:none;}
.clears:before,.clears:after {content:'';display:table;}.clears:after {clear:both;}.clears {*zoom:1;}
.img img {display:block;}a img {border:none;}


/*公共组件样式*/
.text4{color:#444 !important;}
.text6{color:#555 !important;}
.text9{color:#999 !important;}
.textC{color:#999 !important;}
.textG{color:#6a9532 !important;}
.textR{color:#ff6d93 !important;}
.text4:hover, .text6:hover, .text9:hover, .textC:hover{color:#ff95b0 !important;}

.fontFm{font-family:微软雅黑, 黑体, 宋体;}
.cp{cursor:pointer;}
.dn{display:none !important;}
.textarea {resize: none;}
/*文字排版、颜色*/
.f12{font-size:12px !important;}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}
.darkblue,a.darkblue{color:#039}
.gray,a.gray{color:#878787}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

/*定位*/
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.fl{float:left !important;_display:inline}
.fr{float:right !important;_display:inline}
.cb{clear:both !important; width:0 !important; height:0 !important; border:none !important; line-height:0 !important; font-size:0px;}
.cl{clear:left}
.cr{clear:right}
.vm{vertical-align:middle}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}
.hidden{visibility:hidden}
.dpn{display:none}

/*长度高度*/
.w10{width:10px}
.w20{width:20px}
.w50{width:50px}
.w70{width:70px}
.w90{width:90px}
.w100{width:100px}
.w140{width:140px}
.w200{width:200px}
.w250{width:250px}
.w165{width:165px}
.w300{width:300px}
.w500{width:500px}
.w600{width:600px}
.w800{width:800px}
.w980{width:980px}
.w{width:100%}
.h40{height:40px}
.h50{height:50px}
.h80{height:80px}
.h100{height:100px}
.h200{height:200px}
.h{height:100%}

/*边距*/
.mcenter{margin:0 auto;}
.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px !important;}
.mt50{margin-top:50px}
.mt70{margin-top:70px}
.mt100{margin-top:100px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px !important;}
.mb100{margin-bottom:100px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px !important;}
.ml100{margin-left:100px !important;}
.mr0{ margin-right:0px !important;}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr50{margin-right:50px}
.mr100{margin-right:100px}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pb5{padding-bottom:5px}
.pb100{padding-bottom:100px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px;}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr100{padding-right:100px}

/*通用背景*/
body{background:url(img/main_bg.png);}


/*首页头部*/
.m-indextop{margin:25px auto;}
.m-indextop span{background:url(img/logo.gif) no-repeat;display:block;width:227px;height:54px;overflow:hidden;text-indent:-200%;margin:15px 0 0 10px;float:left;}
.m-indextop img{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;}
.m-indextop .imgwrap{padding:4px;border:1px solid #ddd;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;background-color:#fff;display:inline-block;box-shadow:0 0 2px #ddd;}

/*百度分享*/
.shareline .bdsharebuttonbox a{margin-right:2px;color:#999;padding-left:0;text-decoration:none;font-size:14px;}
.shareline .bdsharebuttonbox a:hover{color:black!important}
.shareline .bdsharebuttonbox a.bds_tsina, .shareline .bdsharebuttonbox a.bds_sqq, .shareline .bdsharebuttonbox a.bds_weixin{background: none;}
.shareline .bdsharebuttonbox a.bds_qzone,.shareline .bdsharebuttonbox a.bds_more{padding-left:17px;}

/*提示*/
.message-tip{position:fixed;top:200px;left:45%;height:20px;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;line-height:20px;padding:2px 10px;border-radius:15px;background:#f4e8ab;color:#333;border:1px solid #dac55f;opacity:0;z-index:10000;-webkit-animation:zoomIn 400ms ease both;-webkit-backface-visibility:visible;-moz-animation:zoomIn 400ms ease both;-moz-backface-visibility:visible;-o-animation:zoomIn 400ms ease both;-o-backface-visibility:visible;animation:zoomIn 400ms ease both;}
.message-tip.show{opacity:1;-webkit-animation:zoomOut 200ms ease both;-webkit-backface-visibility:visible;-moz-animation:zoomOut 200ms ease both;-moz-backface-visibility:visible;-o-animation:zoomOut 200ms ease both;-o-backface-visibility:visible;animation:zoomOut 200ms ease both;}
